<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oh nooo</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/images/favicon.ico"/>
        <meta charset="UTF-8">
    </head>
    <body style="background-color: #332e3c;">
        <div class="box_container">
            <div>
                <iframe src="https://giphy.com/embed/TqiwHbFBaZ4ti" width="380" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/error-TqiwHbFBaZ4ti">via GIPHY</a></p>
            </div>
            <div id="error_messages" style="color: rgba(255, 255, 255, 0.836);">
                <h1 style="font-family: cursive;"><%= message %> - <%= error.status %></h1>
            </div>
        </div>
    
    </body>
</html>
