<!DOCTYPE html>
<html lang="en">
<head>
    <title>Join Meeting</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="description" content="Learn with Student Partner to study DS and Algo"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%if (currentUser) { %>
        <ul>
            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/log-out">Log Out</a></li>
        </ul>
        <div class="container-home">
            <div class="box">
                <div>
                    <h1>Hi <i><%= currentUser.name %></i> !</h1>
                    <p>Are you ready to join the meeting?</p>
                </div>
                <form action="" method="POST">
                    <input type="text" name="room" class="create" autocomplete="off" placeholder="room's name" required=true> <br>
                    <div class="botones_to_create_or_join">
                        <button type="submit" id="create" class="host-meeting" value="create">Join Meeting</button>
                    </div>
                    
                </form>
            </div>
        </div>
    <% } %>
</body>
</html>