<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/images/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Join the most funny app in the world"/>
        <title><%= title %></title>
    </head>
    <body>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h1>Log In</h1>
                <form action="" method="POST">
                    <label for="username"><b>USER NAME</b></label> <br>
                    <input type="text" autocomplete="off" name="username" placeholder="user name">
                    <br>
                    <label for="password"><b>PASSWORD</b></label> <br>
                    <input type="password" name="password" placeholder="*******">
                    <br>
                    
                    <button class="custom-btn btn-11"  type="submit"><span>Log in</span></button>
                </form>
                <p>Don't you have an account? <a href="/signup" style="color:rgb(0, 174, 255); text-decoration: none;">Sign Up</a></p>
            </div>
        </div>
    </body>
</html>