<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join the most funny app in the world"/>
    <title><%= title %></title>
</head>
<body>
    <div id="myModal" class="modal1">
        <div class="modal-content">
            <h1>Sign up</h1>
            <form action="" method="POST">
                <label for="username"><b>USER NAME</b></label> <br>
                <input type="text" autocomplete="off" name="username" placeholder="user name" required>
                <br>
                <label for="email"><b>EMAIL</b></label> <br>
                <input type="email" autocomplete="off" name="email" placeholder="name@domain.com" required>
                <br>
                <label for="password"><b>PASSWORD</b></label> <br>
                <input type="password" name="password" placeholder="*******" required>
                <br>
                <button class="custom-btn btn-11"  type="submit"><span>Sign up</span></button>
            </form>
            <p>Do you already you have an account? <a href="/login" style="color:rgb(0, 174, 255); text-decoration: none;">Log in</a></p>
        </div>
    </div>
</body>
</html>