html,body,div,span,object,iframe,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,
sup,var,b,i,dl,dt,dd,ol,fieldset,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
select{vertical-align:middle}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

/* ---- Index Page Styles ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #d9b886;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

canvas{
  display:block;
  vertical-align:bottom;
}


#particles-js{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.botones-ingresar-registrarse {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 10%;
}

.container {
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.container .box {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  height: 50px;
}

.container .box .title .name {
  letter-spacing: 2px;
  line-height: 0.5em;
  font-family: "Poppins";
  color: #000000d5;
  font-size: 42px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

#signup_link, #login_link {
  background-color: #fff8f1;
  color: #0f0f0fc9;
  padding: 10px 20px;
  border-radius: 0.5em;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}



.text_create_join {
  text-align: center;
  font-size: 24px;
  font-family: 'Times New Roman';
}
input[type="text" i].create {
  outline: none;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 4px;
  padding: 8px 0;
  width: 100%;
}


/* ---- Estos modals son para el de registro e ingreso ---- */

.modal {
  /* Stay in place */
  z-index: -1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  
  background-position: 40%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 75% auto;
  width: fit-content;
  padding: 0 5%;
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family:Cambria;
  background-color: rgb(255, 255, 255);
}

/* Form part */

input[type="text" i],input[type="password" i],input[type="email" i]  {
  margin: 10% 5%;
  font-size: 20px;
  font-family: 'Times New Roman';
  border: none;
  border-bottom: 2px solid #18181850;
  outline: none;
}
input[type="text" i]:focus,input[type="password" i]:focus, input[type="email" i]:focus  {
  border-bottom: 2px solid #ffeead;
  transition: 1s;
}
label {
  font-size: 12px;
}
button {
  margin: 5% 0;
  outline: none;
}

/* ---- El boton de submit ---- */
.custom-btn {
  left: 50%;
  width: 120px;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
   background: #88d8b0;
   color: #fff;
   border: 2px solid #ffffff;
   letter-spacing: 4px;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


  
.modal1  {
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-position: 40%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---- Home part styles ---- */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffeead;
  font-size: medium;
}

li {
  float: left;
}

li a {
  display: block;
  color: #3a3a3ad0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffcc5c;
  color:white;
}

.container-home {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container-home .box {
  text-align: center;
  font-size: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 2em;
}

.host-meeting {
  margin-top: 1.5em;
  padding: 0.9em;
  font-family: system-ui;
  font-weight: 600;
  background-color: #88d8b0;
  border: 1px solid #ffffffbf;
  border-radius: 14px;
  box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
  font-size: 14px;
  cursor: pointer;
}






.box_container {
  position: fixed;
  display: flex;
  overflow: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}



@media (max-width: 450px) {

  #signup_link, #login_link {
    font-size: 1rem;
  }
  input[type="text" i], input[type="password" i], input[type="email" i] {
    margin: 10% 0%;
    font-size: 15px;
  }

  .container-home{
    left: 45%;
  }
  .container-home .box {
    font-size: 1em;
    padding: 1.5em;
    width: 100%;
  }

}
